body{
    font-family: 'Times New Roman', Arial, Tahoma; 
    font-size: 100%;
}
header{
    background-color: #7FFFD4;
}
nav{
    background-color: #7FFFD4;
}
main{
    background-color: #7FFFD4;
    font-size: 90%;
}
footer{
background-color: #7FFFD4;
}
li{
    display: inline-block;
    background-color: #FFFFFF;
    width: 4cm;
    text-align: center;
}
h1{
    text-align: left;
    font-family:'Times New Roman', Arial, Tahoma ;
    color: #0062e4;
}
p{
    line-height: 115%;
}
